<footer class="footer" id="footer">
    <div class="container text-center">
        <div class="nav nav-bar">
        <a class="nav-link" href="{{ path('home') }}">Mentions légales</a>
        <a class="nav-link" href="{{ path('home') }}">Conditions d'utilisation</a>
        </div>
    </div>
</footer>